<!-- Footer -->   
<footer>
    <p>
     <!-- For first border line --> 
   <hr style="border-style: solid; border-color:rgb(213, 31, 7); border-width: 3px;">
   
   <div id="foot">
 
    <!-- For important link code -->
    <div class="left">
        <p id="first" style="display:flex; gap: 100px;">
           
            <h3>QUICK LINK</h3>
            <h3><a href="home">Home</a>&nbsp;&nbsp;
              <a href="contact">Contact</a>&nbsp;&nbsp;
              <a href="about">About</a>&nbsp;&nbsp;
              <a href="newreview">Testimonials</a></h3>
          </p>
        </div>
       
 
       <!-- For admin connection code -->
       <div class="right">
         <p id="second">
           <h3>LET'S CONNECT</h3>
           <h4>Connect with the admin (Vivian) on: </h4>
           <a href="https://www.facebook.com/aniebonam.vivian.3?mibextid=ZbWKwL"><img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a>
            <a href="https://www.linkedin.com/in/vivian-aniebonam-36331a239"><img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a>
           <a href="mailto:aniebonamvivian1@gmail.com"><img class="hover" src="/images/mail-removebg-preview.png" alt="Email" height="30" width="30"></a>
          </p>
         </div>
          </div>  
 
       <!-- For second border line --> 
       <hr style="border-style: solid; border-color:rgb(213, 31, 7); border-width: 3px;">
 
       <!-- For copyright code-->
       <p id="copyright">&copy; Researchgrips.com</p>
     </footer>  
