<!DOCTYPE html>
<html lang="en">
    <head>
     
  <!--File: homepage.ejs
// Student’s Name: ANIEBONAM VIVIAN OLUOMACHUKWU
// StudentID: 301308143
// Date: 01-10-2023-->
 <!-- partial for header -->

        <title>Researchgrips.com </title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/Stylesheets/contact.css" type="text/css">
             <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <form class="example" action="/search.php">
<style>
              body {
                font-family: Arial;
              }
              form.example {
                position: relative;
              }
              
              form.example input[type=text] {
                padding: 10px;
                font-size: 17px;
                border: 1px solid grey;
                float: left;
                width: 80%;
                background: #f1f1f1;
              }
              
              form.example button {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                padding-left: 6.75%;
                background: #04045e;
                color: white;
                font-size: 17px;
                border: 1px solid grey;
                border-left: none;
                cursor: pointer;
              }
              
              form.example button:hover {
                background: goldenrod;
              }
              
              form.example::after {
                content: "";
                clear: both;
                display: table;
              }
</style>
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>     
    </head>

    <!-- For the body  -->
    <body id="body">
        <header>
            <h3 id="homepage">
              <a href="home">HOME</a>  &nbsp;&nbsp;&nbsp; 
              <a href="about">ABOUT</a>&nbsp;&nbsp;&nbsp;
              <a href="contact">CONTACT</a>  &nbsp;&nbsp;&nbsp;
              <a href="service">SERVICES</a>  &nbsp;&nbsp;&nbsp;
              <a href="ebooks">PROJECTS</a> &nbsp;&nbsp;&nbsp;
              <a href="newreview">TESTIMOMIALS</a>  
              
            </h3>  
        <img src="/images/background.png" alt="Agents Picture" width="880" height="700">
    </header>