
  body {
      font-family: Arial;
  }
  form.example {
      position: relative;
  }
  
  form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
  }
  
  form.example button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      padding-left: 6.75%;
      background: #04045e;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
  }
  
  form.example button:hover {
      background: goldenrod;
  }
  
  form.example::after {
      content: "";
      clear: both;
      display: table;
  }
