<!DOCTYPE html>
<html lang="en">
  <!--File: about.ejs
// Student’s Name: ANIEBONAM VIVIAN OLUOMACHUKWU
// StudentID: 301308143
// Date: 01-10-2023-->
    <head>
        <title> VIVIAN WEBSITE </title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/Stylesheets/contact.css" type="text/css">
    </head>
    <body id="body">
        <header>
            <header>

            <H3 id="cname"> ANIEBONAM VIVIAN OLUOMACHUKWU </H3>
        <img src="/images/WhatsApp Image 2023-04-29 at 12.08.22 AM.jpeg" alt="Agents Picture" width="400" height="100">
      
      <br>
      
      <!--my personal profile-->
        <h2 class="pname"> PERSONAL PROFILE</h2>
        <P class="test">
            As a registered nurse and health informatics technician under the umbrella of software engineering, 
            I am a highly motivated and dedicated individual who has consistently shown excellence in my academic pursuits.
             My excellent school grades, numerous awards and scholarships, and contributions to the community through online 
             free lectures are a testament to my commitment to learning and growth. 
            </P>
<!--my personal profile-->
             <P class="test" >
                One of my greatest strengths is my unwavering perseverance in the face of challenges.
                 Throughout my academic journey, I have encountered numerous obstacles, but I have overcome
                  them with resilience and determination. My ability to adapt to new situations and learn from my
                   experiences has enabled me to thrive and excel.
             </p>
<!--my personal profile-->
             <p class="test">
                Moreover, I have demonstrated a remarkable commitment to going above and beyond in my academic work. 
                I consistently seek out opportunities to expand my knowledge and skills, which has led me to create websites 
                and develop software that makes research work easy and efficient. I have attended numerous seminars, and most of
                 the time, I have hosted them and made presentations. In addition, I have taken on various leadership roles in my 
                 academic community, including high school student president, SUG President in college (student union government), 
                 and Administrative Officer of EmpowerTech Women at Centennial College, Toronto. My enthusiasm and passion for learning
                  is infectious, and has inspired my peers to push themselves to new heights.

             </p>
        <!--my personal profile-->
             <p class="test">
                Looking ahead, I have set ambitious long-term academic and career goals. 
                I am actively pursuing opportunities to gain experience and build skills in my 
                field, and I am constantly seeking out new challenges to take on. With my strong work ethic, 
                attention to detail, listening skills, and dedication to my craft, there is no doubt that I will 
                continue to achieve great things in my academic and professional pursuits.
             </p>
             <!--my personal profile-->
        <p class="test">
            Overall, I am an exceptional candidate who would be an asset to any academic
             or professional team. My positive attitude, strong work ethic, attention to detail, 
             listening skills, and passion for learning make me an ideal candidate for any position in 
             my field of professionalism. I am confident that I will make a significant impact and contribute
              positively to any team I work with.
        </p>
        <!--my personal profile-->
        <br>
        <p class="redtest"><b style="text-transform: uppercase;">Click here to Download my Resume</b></p>
        <h3 class="circle"><a href="https://researchgrips.com/MY-PROJECTS.pdf"><strong>Download</strong> </a></h3>
        
        <!--my personal profile-->
<h2 class="pname"> HOBBIES:</h2>
<ul>
    <li class="test"> Coding or programming projects outside of work or school</li>
    <li class="test"> Developing software or mobile applications for personal use or for others</li>
    <li class="test"> Participation in technology-related competitions or hackathons</li>
    <li class="test"> Attending seminars, workshops or conferences related to software engineering or health informatics</li>
    <li class="test"> Volunteering in technology-related organizations or events</li>
    <li class="test"> Blogging or writing about technology or health informatics topics</li>
    <li class="test"> Contributing to open-source projects or communities</li>
    <li class="test"> Creating websites or online tools for personal or community use</li>
    <li class="test">My leisure activities include listening to music, playing volleyball, and traveling. 
        These hobbies not only provide me with a means of relaxation and rejuvenation, but also help me develop 
        a well-rounded perspective, foster teamwork and sportsmanship, and enhance my understanding of diverse cultures.</li>
</ul>
<!--my personal profile-->
<h2 class="pname"> MY MISSION</h2>
<p class="test">
    My professional mission is to utilize my expertise in software engineering and health informatics  
    to develop innovative software solutions that address complex research problems and positively impact society. 
    As a dedicated and passionate individual, I aim to continuously improve my skills, knowledge, and proficiency in the field, 
    while also sharing my knowledge with others through teaching and mentorship. My ultimate goal is to make a meaningful contribution 
    to the industry and inspire future generations of programmers to excel in their craft.
</p>
</header> 
<!--my personal profile-->
<br>
<br>
  <div>
    <h3 class="redtest"><i><b>Share the love! If you find our website helpful, please share it with others who might benefit from it :</b></i></h3>
    <ul class="social-media-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=researchgrips.com" target="_blank">
        <img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a></li>
        <br><br>
  
      <li><a href="https://twitter.com/intent/tweet?url=researchgrips.com" target="_blank">
        <img class="hover" src="/images/twitter.jpg" alt="Twitter" height="30" width="30"></a></li>
        <br><br>
      <li><a href="https://www.linkedin.com/shareArticle?url=researchgrips.com" target="_blank">
        <img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a></li>
        <br><br>
        <li><a href="whatsapp://send?text=researchgrips.com" target="_blank"><img class="hover" src="/images/appp-removebg-preview.png" alt="WhatsApp" height="30" width="30"></a></li>
    </ul>
  </div>

<!-- Include the footer partial -->
<%- include('./Partials/footer') %>
   </html>