<!DOCTYPE html>
<html lang="en">
    <head>
      <!--File: article.ejs
// Student’s Name: ANIEBONAM VIVIAN OLUOMACHUKWU
// StudentID: 301308143
// Date: 01-10-2023-->
        <title>Researchgrips.com </title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/Stylesheets/contact.css" type="text/css">
    </head>
    <body id="body">
  <div class="logoborder">
  <h2><b>ARTICLE CATEGORIZATION</b></h2>
</div>
  
<div class="category-grid">

  <!-- How-To/Directional category -->
<div class="category" id="food">
  <img src="/images/how-to.avif" alt="Food category">
  <h3>How-To/Directional</h3>
  <div class="description">
      <p>Examples:</p>
      <ul>
          <li>How to Organize study programming</li>
          <li>How to Make Perfect Pancakes Every Time</li>
          <li>How to Start Your Own Blog</li>
          <li>How to Build a Raised Garden Bed for Beginners</li>
          <li>How to manage stress</li>
          <li>How to Stay Fit and Healthy at Home</li>
      </ul>
  </div>
</div>
<!-- End of How-To/Directional category -->

<!-- Motivational category -->
<div class="category" id="motivational">
  <img src="/images/motivational.jpg" alt="Motivational category">
  <h3>Motivational</h3>
  <div class="description">
      <p>Examples:</p>
      <ul>
          <li>Believe in yourself and conquer your fears</li>
          <li>Embrace the power of positive thinking</li>
          <li>Small steps lead to big achievements</li>
          <li>Revive passion: Beat burnout</li>
          <li>Motivational Strategies for Entrepreneurs</li>
          <li>Exam success motivation tips</li>
          <li>Never give up on yourself - the journey is worth it</li>
      </ul>
  </div>
</div>
<!-- End of Motivational category -->

<!-- Lifestyle/Health category -->
<div class="category" id="lifestyle">
  <img src="/images/health.jpg" alt="Lifestyle category">
  <h3>Lifestyle/Health</h3>
  <div class="description">
      <p>Examples:</p>
      <ul>
          <li>Managing Diabetes: Tips and Tricks</li>
          <li>Fighting Depression: Ways to Win</li>
          <li>The Benefits of Yoga for Mind and Body</li>
          <li>Tips for Better Sleep and More Energy</li>
          <li>Living with Asthma: Coping Strategies</li>
          <li>Overcoming Migraines: Ways to Cope</li>
      </ul>
  </div>
</div>
<!-- End of Lifestyle/Health category -->

<!-- Career/Professional Development category -->
<div class="category" id="professional">
  <img src="/images/career.jpg" alt="Professional category">
  <h3>Career/Professional Development</h3>
  <div class="description">
      <p>Examples:</p>
      <ul>
          <li>Ace Your Next Interview: Top Tips for Nailing the Job</li>
          <li>Personal Branding in the Job Market</li>
          <li>Effective Time Management in the Workplace</li>
          <li>Mastering the Art of Negotiation in Your Career</li>
          <li>Network for Career Success</li>
          <li>The Power of Mentorship: Finding the Right Career Mentor</li>
      </ul>
  </div>
</div>
<!-- End of Career/Professional Development category -->

<!-- Personal Memories category -->
<div class="category" id="career">
  <img src="/images/WhatsApp Image 2023-04-27 at 1.16.36 AM.jpeg" alt="Career category">
  <h3>Personal Memories</h3>
  <div class="description">
      <p>Examples:</p>
      <ul>
          <li>My Journey to Overcoming Anxiety and Depression</li>
          <li>My first Menstrual cramp experience</li>
          <li>Lessons that I learned in a hard way</li>
          <li>How I migrated from Nursing to Engineering</li>
          <li>Traveling to Canada as an International student</li>
          <li>My Experience Volunteering Abroad and How It Changed My Life</li>
      </ul>
  </div>
</div>
<!-- End of Personal Memories category -->

<!-- Humorous/Satirical category -->
<div class="category" id="humorous">
  <img src="/images/happy.png" alt="Humorous category">
  <h3>Humorous/Satirical</h3>
  <div class="description">
      <p>Examples:</p>
      <ul>
          <li>The Joy of Procrastination</li>
          <li>Silly But True: A Humorous Take on Reality</li>
          <li>The Benefits of Incorporating Humor into Your Life</li>
          <li>A Guide to Navigating Office Politics with a Sense of Humor</li>
          <li>Celebrating Our Imperfections with a Laugh</li>
          <li>The crazy old couple</li>
      </ul>
  </div>
</div>
<!-- End of Humorous/Satirical category -->


 <!-- Financial category -->
  <div class="category" id="financial">
    <img src="/images/money.jpg"alt="Financial category">
    <h3>Financial</h3>
    <div class="description">
       <p>Examples:</p>
    <ul>
      <li>How to Manage Your Finances Effectively</li>
      <li>How to Grow Your Wealth in 2023</li>
      <li>Retirement Planning</li>
      <li>Rising Above Debt</li>
      <li>Maximizing Your Savings: The Benefits of Budgeting</li>
      <li>Recovering from Financial Setbacks</li>
    </ul>
  </div>
</div>
 <!-- End of Financial category-->

 <!-- Educational category -->
  <div class="category" id="educational">
    <img src="/images/education.jpg" alt="Educational category">
    <h3>Educational</h3>
    <div class="description">
      <p>Examples: </p>
      <ul>
        <li>Study Techniques for Effective Learning</li>
        <li>Top Resources for Online Learning</li>
        <li>How to Choose the Right College Major</li>
        <li>Mastering the Art of Public Speaking</li>
        <li>Overcoming Test Anxiety</li>
        <li><a href="assignment1" style="color: red;">Learn Practical Multiplication Table Online</a></li>
      </ul>
    </div>
  </div>
 <!-- End of educational category-->

  <!-- Food category -->
<div class="category" id="food">
  <img src="/images/foood.jpg" alt="Food category">
  <h3>Food/Recipe</h3>
  <div class="description">
      <p>Examples:</p>
      <ul>
          <li>Plant-Based Meals to Keep You Energized</li>
          <li>How to Make the Perfect Cup of Coffee at Home</li>
          <li>Creative Ways to Use Leftover Thanksgiving Turkey</li>
          <li>Healthy Meal Prep Ideas for the Week</li>
          <li>Grill Master</li>
          <li>Vegetarian and Vegan Recipes</li>
      </ul>
  </div>
</div>
</div>
<!-- End of Food category -->
<br>
<br>
  <div>
    <h3 class="redtest"><i><b>Share the love! If you find our website helpful, please share it with others who might benefit from it :</b></i></h3>
    <ul class="social-media-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=researchgrips.com" target="_blank">
        <img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a></li>
        <br><br>
  
      <li><a href="https://twitter.com/intent/tweet?url=researchgrips.com" target="_blank">
        <img class="hover" src="/images/twitter.jpg" alt="Twitter" height="30" width="30"></a></li>
        <br><br>
      <li><a href="https://www.linkedin.com/shareArticle?url=researchgrips.com" target="_blank">
        <img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a></li>
        <br><br>
        <li><a href="whatsapp://send?text=researchgrips.com" target="_blank"><img class="hover" src="/images/appp-removebg-preview.png" alt="WhatsApp" height="30" width="30"></a></li>
    </ul>
  </div>

<!-- Include the footer partial -->
<%- include('./Partials/footer') %>
   </html>