<!--Including partial for hearder-->
<%- include('./Partials/header') %> 
      <br>
      <br>
      
        <h2 class="pname"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uncovering the Science behind Progression; Our Fields of Specialization</h2>
        <P class="test">Our website's mission is to uncover the scientific principles that drive the advancement of gripping technology.
            We specialize in developing innovative software solutions and providing expert consultation services to companies 
            seeking to optimize their use of our technology. Additionally, we are available for employment opportunities to 
            leverage our expertise in this field. Our dedication to advancing knowledge is further evidenced by our publication
             of scholarly articles, ongoing research, and educational offerings in programming. 
            </P>
       
            <br>
            <br>
            <br>
          </div>

       <!-- For the table code -->
          <p>
            <table style="width:100%">
              <tr>
                <th><div class="box">
                       <p><b><b>ONGOING SURVEY</b></b></p><br><br><br>
                       <div>
                        <h4 class="boximg">
                          <br>
                          <a href="questionnaireintro">&nbsp;Learn More → </a>
                        </h4>
                      </div>
                      </div></th>

                <th><div class="box" >
                        <p id="p.class"><b>ONLINE &nbsp;CLASSES</b></p><br><br>
                        <div>
                          <h4 class="boximg">
                            <br>
                            <a href="programClasses">&nbsp;Learn More → </a>
                          </h4>
                          <br>
                          <br>
                          <h4 class="boximg">
                            <br>
                            <select onchange="location = this.value;">
                              <option selected disabled>Choose an option</option>
                              <option value="programClasses"><a href="programClasses">C#</a></option>
                              <option value="programClasses"><a href="programClasses">SQL (DBMS)</a></option>
                              <option value="programClasses"><a href="programclasses">Web Design</a></option>
                            </select>
                          </h4>
                        </div>
                       </div></th>

                <th><div class="box">
                        <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LITERAY PIECES</b></p><br><br><br>
                        <div>
                          
                          <h4 class="boximg">
                            <br>

                            <a href="renalfailure">&nbsp;Learn More → </a>
                          </h4>
                          <BR>
                            <BR>
                              <h4 class="boximg">
                                <br>
                                <select onchange="location = this.value;">
                                  <option selected disabled>Choose an option</option>
                                  <option value="ebooks"><a href="ebooks">eBooks</a></option>
                                  <option value="articles"><a href="articles">Articles</a></option>
                                  <option value="researchessays"><a href="researchessays">Research Essays</a></option>
                                </select>
                              </h4>
                        </div>
                       </div></th>
              </tr>
             </table>
            </p>
            <br><br>

<!-- For the no more paper -->
<ol style="display:flex; gap:10px;" class="back">
    <div class="back">   <br><br><br>              
        <li> <h3>Are you in search of software that can quickly distribute <br> questionnaires and collect responses online?</h3></l><br><br>
        <li> <h3>Would you be interested in a software solution that I have <br>developed to assist with research efforts?</h3></li>
        <br><br>
        <LI> <h3>Do you still use paper questionnaires to collect data?</h3> </LI>
        </ul>
    </div>

    
   <ul class="back">
    <br><br>
    <br><br>
    <li> <h3><b class="assterisks">***</b> <b>Based on my understanding that you or your company has a <br>
      strong focus on research, I believe our software could greatly benefit your team.</h3></li><br><br>
      
      <li>
        <h3><b class="assterisks">***</b> I've developed a new software that can make the <br>
        process easier and more efficient.</h3></li><br><br>
        <br><br>
        <li id="gold"><h2>Would you be interested in learning more about it?</h2>
   </ul>  
  </ol>


<!-- SHARE my page code -->  
<br>
<br>
  <div>
    <h3 class="redtest"><i><b>Share the love! If you find our website helpful, please share it with others who might benefit from it :</b></i></h3>
    <ul class="social-media-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=researchgrips.com" target="_blank">
        <img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a></li>
        <br><br>
  
      <li><a href="https://twitter.com/intent/tweet?url=researchgrips.com" target="_blank">
        <img class="hover" src="/images/twitter.jpg" alt="Twitter" height="30" width="30"></a></li>
        <br><br>
       
      <li><a href="https://www.linkedin.com/in/vivian-aniebonam-36331a239=researchgrips.com" target="_blank">
        <img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a></li>
        <br><br>
        <li><a href="whatsapp://send?text=researchgrips.com" target="_blank"><img class="hover" src="/images/appp-removebg-preview.png" alt="WhatsApp" height="30" width="30"></a></li>
    </ul>
  </div>
          

</body>
<!-- Include the footer partial -->
<%- include('./Partials/footer') %>
</body>
</html>
