<!DOCTYPE html>
<html lang="en">
  <!--File: informationabioutiens.ejs
// Student’s Name: ANIEBONAM VIVIAN OLUOMACHUKWU
// StudentID: 301308143
// Date: 01-10-2023-->

    <head>
        <title>NovaScotiaNewIENPathway</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/Stylesheets/contact.css" type="text/css">
    </head>
    <header>
      <!-- Navigation links -->
      <div class="container">
        <a class="circle" href="index">HOME</a>
        <a class="circle" href="about">ABOUT</a>
        <a class="circle" href="contact">CONTACT</a>
      </div>         
</header>
  <br>
 <!-- Welcome message -->
  <body id="body">
    <div style="text-align: center;">
        <h1>
          <a href="index" style="color: blue; text-decoration: none;">
            <span style="display: inline-block; transform: translateX(-60px);">
            </span>
             <!-- Welcome message -->
            <a href="https://www.researchgrips.com/"><i id="change">Welcome to Researchgrips.com!!</i></a>
          </a>
        </h1>
      </div>
         <!-- Image -->
    <img src="/images/nsimage.jpg" height="400" width="700" alt="Video thumbnail" class="no-border-radius">
    <br>
    <br>
    <!-- Introductory text -->
    <h1 id="alarm">Are you an international educated nurse seeking new opportunities in Canada? </h1>
        <p class="test">Look no further than
         Nova Scotia Nursing Board! Our latest video highlights includes a question-and-answer concerning the exciting new programs and initiatives that 
         NSCN (Nova Scotia College of Nursing) has introduced to help nurses from the <B>PHILIPPINES</B>, <B>NIGERIA</B>, <B>UK</B>, <B>USA</B>,
         <B>AUSTRALIA</B>, <B>INDIA</B>, and <B>NEW ZEALAND</B>
          advance their careers and achieve their goals. Whether you're looking to start a new chapter in your life or 
          simply explore new opportunities, Nova Scotia Nursing Board is here to help you every step of the way.
         </p>
  <!-- Content -->
         <br>
         <br>
         <br>
         <H4><i>This video features a question-and-answer session with Nurse O'fela (@ Nurse O'fela) :</i></H4>
    <!-- Embedded video -->
    <iframe width="700" height="315" src="https://www.youtube.com/embed/IDKKnkPaeew" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </body>
  <br>
  <br>
  <br>  
  <H3 class="redtest"><i>NOTE:</i></H3>
  <!-- Important note -->
  <P class="test">" They do not issue visas directly, however, the registration process can be viewed as a potential
     pathway towards obtaining a visa. Once you have completed the registration process and obtained a license,
      you may then use your license to apply for work. Upon securing employment, 
    you can then utilize your employer's acceptance letter to proceed with the necessary visa applications. "</P>
 
     <h3 class="redtest">NOVA SCOTIA CONTACT :</h3>
     <a href="https://www.nscn.ca/explore-nscn/nscn-team/contact-us">https://www.nscn.ca/explore-nscn/nscn-team/contact-us</a>

  <h3 class="redtest">START YOUR REGISTERATION PROCESS WITH NSCN NOW !!</h3>
 
  <!-- Somewhere else on the page -->
  <a href="https://www.nscn.ca/registration-licensing/first-time-registering-nova-scotia/nurses-currently-licensed-elsewhere-canada">https://www.nscn.ca/registration-licensing/first-time-registering-nova-scotia/nurses-currently-licensed-elsewhere-canada</a>
      
  
  <br>
<br>
  <div>
    <h3 class="redtest"><i><b>Share the love! If you find our website helpful, please share it with others who might benefit from it :</b></i></h3>
    <ul class="social-media-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=researchgrips.com/ieninfoaboutnscn.html" target="_blank">
        <img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a></li>
        <br><br>
  
      <li><a href="https://twitter.com/intent/tweet?url=researchgrips.com/ieninfoaboutnscn.html" target="_blank">
        <img class="hover" src="/images/twitter.jpg" alt="Twitter" height="30" width="30"></a></li>
        <br><br>
      <li><a href="https://www.linkedin.com/shareArticle?url=researchgrips.com/ieninfoaboutnscn.html" target="_blank">
        <img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a></li>
        <br><br>
        <li><a href="whatsapp://send?text=researchgrips.com/ieninfoaboutnscn.html" target="_blank"><img class="hover" src="/images/appp-removebg-preview.png" alt="WhatsApp" height="30" width="30"></a></li>
    </ul>
  </div>
  
  
  <!-- Footer -->   
         <footer>
            <p>
             <!-- For first border line --> 
           <hr style="border-style: solid; border-color:rgb(213, 31, 7); border-width: 3px;">
           
           <div id="foot">
         
            <!-- For important link code -->
               <div class="left">
                 <p id="first" style="display:flex; gap: 100px;">
                  <h3>QUICK LINK</h3>
                  <h3><a href="index">Home</a>&nbsp;&nbsp;
                    <a href="contact">Contact</a>&nbsp;&nbsp;
                    <a href="about">About</a>&nbsp;&nbsp;
                    <a href="newreview">Testimonials</a></h3>
                </p>
               </div>
         
               <!-- For admin connection code -->
               <div class="right">
                 <p id="second">
                   <h3>LET'S CONNECT</h3>
                   <h4>Connect with the admin (Vivian) on: </h4>
                   <a href="https://www.facebook.com/aniebonam.vivian.3?mibextid=ZbWKwL"><img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a>
                    <a href="https://www.linkedin.com/in/vivian-aniebonam-36331a239"><img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a>
                   <a href="mailto:aniebonamvivian1@gmail.com"><img class="hover" src="/images/mail-removebg-preview.png" alt="Email" height="30" width="30"></a>
                  </p>
                 </div>
                  </div>  
         
               <!-- For second border line --> 
               <hr style="border-style: solid; border-color:rgb(213, 31, 7); border-width: 3px;">
         
               <!-- For copyright code-->
               <p id="copyright">&copy; Researchgrips.com</p>
             </footer>  
        </html>