<!DOCTYPE html>
<html lang="en">
   <!--File: ProgramingClases.ejs
// Student’s Name: ANIEBONAM VIVIAN OLUOMACHUKWU
// StudentID: 301308143
// Date: 01-10-2023-->
    <head>
        <title> CONTACT PAGE </title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/Stylesheets/contact.css" type="text/css">
    </head>

    <body id="body">
        <header>
           <!-- Horizontal line -->
            <hr style="border-style: solid; border-color:rgb(4, 8, 80); border-width: 1px;">
                  <!-- Image -->
            <img src="/images/sorry.jpg" alt="home" width="800" height="500"> 
            
<p>
    <P class="test">
        <!-- Apology message -->
        We apologize for the delay in commencing our classes.
         We have recently started operations and are in the process of finalizing 
         our curriculum and hiring qualified instructors. Rest assured, we are making every 
         effort to begin classes as soon as possible. We appreciate your patience and understanding 
         during this time of transition.
    </P>
    <P class="test">
      <!-- Additional message -->
        Please visit our contact page and send us a message. 
        We apologize for any inconvenience as we have just started offering
         our programming courses. Our intention is to cover all aspects of programming 
         and we will communicate with you as soon as we begin our classes. <br> <i>Thank you for your understanding!</i>
    </p>

    <br>
    <br>
      <div>
        <h3 class="redtest"><i><b>Share the love! If you find our website helpful, please share it with others who might benefit from it :</b></i></h3>
        <ul class="social-media-buttons">
            <!-- Social media share buttons -->
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=researchgrips.com" target="_blank">
            <img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a></li>
            <br><br>
      
          <li><a href="https://twitter.com/intent/tweet?url=researchgrips.com" target="_blank">
            <img class="hover" src="/images/twitter.jpg" alt="Twitter" height="30" width="30"></a></li>
            <br><br>
          <li><a href="https://www.linkedin.com/shareArticle?url=researchgrips.com" target="_blank">
            <img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a></li>
            <br><br>
            <li><a href="whatsapp://send?text=researchgrips.com" target="_blank"><img class="hover" src="/images/appp-removebg-preview.png" alt="WhatsApp" height="30" width="30"></a></li>
        </ul>
      </div>

    <!-- Footer -->   
  <!-- Include the footer partial -->
<%- include('./Partials/footer') %>
     </main>
     </body>
     </html>