<!DOCTYPE html>
<html lang="en">
   <!--File: QUESTIONNAIREITRO.ejs
// Student’s Name: ANIEBONAM VIVIAN OLUOMACHUKWU
// StudentID: 301308143
// Date: 01-10-2023-->
  <head>
    <title>Factors Contributing to the Healthcare Staffing Crisis in Ontario
       and Workable Solutions</title>
       <meta charset="uf8">
       <link rel="stylesheet" href="/Stylesheets/questionnairestyles.css" type="text/css">
  </head>
  <!--ANIEBONAM VIVIAN, STUDENT NUMBER 301308143-->
 <!--ZAM-->
  <body>
    <h1>Introduction:</h1>
    <p id="dear">Dear Participant,</p>
    <p class="main">We would like to express our sincere gratitude for taking the time to
     complete this questionnaire on the <strong>"Factors Contributing to the Healthcare
      Staffing Crisis in Ontario and Workable Solutions."</strong> This questionnaire 
      is an essential part of our research study, which aims to identify the
       factors responsible for the healthcare staffing crisis in Ontario and 
       propose solutions to address this issue.</p>
<!--ZAM-->
    <h2 id="special">Assurance for Privacy and Confidentiality:</h2>
    <p class="main">We assure you that all the information provided in
     this questionnaire will be kept strictly confidential and
      used for research purposes only. The data collected from 
      his questionnaire will be used solely for our research project,
       and we will not disclose any personal information to any third 
       parties without your express consent.</p>
    <p class="main">Moreover, your participation in this research study 
    is entirely voluntary, and you have the right to withdraw
     from the study at any time without providing any explanation.
      We have taken all necessary measures to ensure the security and 
      confidentiality of the information you provide. All data collected 
      will be kept secure and accessible only to the research team, and all 
      records will be destroyed once the study is complete.</p>
<!--ZAM-->
    <p class="main">In conclusion, we value your input and appreciate your 
      willingness to participate in this study. Your contribution 
      is vital in helping us understand the healthcare staffing crisis 
      in Ontario and propose effective solutions to address this issue. 
      Thank you for your cooperation and support in this research project.</p>

      <h3 id="index"><a href="questionnaire"><strong>START THE QUESTIONNAIRE</strong> </a></h3>
      
        <div>
          <h3 class="redtest"><i><b>Share the love! If you find our website helpful, please share it with others who might benefit from it :</b></i></h3>
          <ul class="social-media-buttons">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=researchgrips.com" target="_blank">
              <img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a></li>
              <br><br>
        <!--ZAM-->
            <li><a href="https://twitter.com/intent/tweet?url=researchgrips.com" target="_blank">
              <img class="hover" src="/images/twitter.jpg" alt="Twitter" height="30" width="30"></a></li>
              <br><br>
            <li><a href="https://www.linkedin.com/shareArticle?url=researchgrips.com" target="_blank">
              <img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a></li>
              <br><br>
              <li><a href="whatsapp://send?text=researchgrips.com" target="_blank"><img class="hover" src="/images/appp-removebg-preview.png" alt="WhatsApp" height="30" width="30"></a></li>
          </ul>
        </div>




  </body>
</html>