<!DOCTYPE html>
<html lang="en">
   <!--File: RENALFAILUREPAGE.ejs
// Student’s Name: ANIEBONAM VIVIAN OLUOMACHUKWU
// StudentID: 301308143
// Date: 01-10-2023-->
    <head>
        <title> CONTACT PAGE </title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/Stylesheets/contact.css" type="text/css">
    </head>

    <body id="body">
        <header>
            
            <img src="/images/renalimage.jpg" alt="home" width="800" height="500"> 
            
            <p>
              <!-- Title -->
              <h2 style="text-align: center;">RENAL FAILURE</h2>
              <!-- First paragraph -->
              <p class="test">Renal failure is the condition where the kidney loses its ability to maintain the normal 
              volume and composition of the internal environment. The kidney plays an essential role in 
              excreting metabolic wastes, regulating fluid formation, electrolyte and acid-base balance.
              Renal failure causes internal homeostasis disturbance, leading to the retention of toxic waste 
              that would have otherwise been excreted in the urine, such as urea, uric acid, and creatinine. 
              Renal failure is a systemic disease and a common final pathway for various kidney diseases.</p>
              <br><br>
          
              <!-- Second paragraph -->
              <p class="test">Renal failure can either be acute or chronic. Acute renal failure occurs suddenly and can take days or weeks to happen.
              It results from a complication of another disease in the body that affects the renal system. Acute renal failure is
              reversible with a low mortality rate, although, in some places, the mortality rate is high. On the other hand, 
              chronic renal failure occurs when about 75% of nephrons are no longer functioning. It could occur as a result of 
              the repeated acute type or the exacerbation of any renal disease.</p>
              <br><br>
          
              <!-- Third paragraph -->
              <p class="test">Acute renal failure is also referred to as Acute Kidney Injury (AKI).
              It is the sudden decline in the function of the kidney caused by conditions 
              outside or inside the kidney that leads to a reduction of blood supply to the kidney.
              Prompt and adequate therapy can reverse the condition in most cases.</p>
              <br><br>
          
              <!-- Fourth paragraph -->
              <p class="test">The causes of acute renal failure are classified into three; pre-renal causes, internal causes, 
              and post-renal causes. Pre-renal causes occur outside the renal system and contribute to the reduction
              of blood volume or cardiac output, such as dehydration, hemorrhage, cardiac failure, burns, and renal
              artery occlusion. Internal causes are conditions that cause actual renal tissue destruction, such as 
              glomerulonephritis, acute renal tubular necrosis, and pyelonephritis, which are induced by chemical or
              biological products or infections. Post-renal causes occur following conditions that obstruct the outflow
              of urine, such as calculi, neoplasms, and fluid accumulation in the kidney.</p>
              <br><br>
          
              <!-- Fifth paragraph -->
              <p class="test">The chance of getting AKI is high in the elderly and those with liver disease, 
              kidney disease, high blood pressure, morbid obesity, heart failure, diabetes
              when not adequately managed, bone marrow transplant, abdominal surgery, or heart surgery.</p>
              <br><br>
          
              <!-- Sixth paragraph -->
              <p class="test">Acute renal failure has four clinical phases or clinical manifestations.
              The initiation phase is the beginning of renal failure marked by the onset of contributing factors,
              which eventually leads to decreased blood flow to the nephrons to the extent of tubular necrosis. 
              The oliguric phase is when urine production is significantly reduced below 500ml/day or as little as 30mls/day. 
              The urine formed is concentrated with constituents of proteins, cast, red and white blood cells, which in turn increases
              its specific gravity above 1.010. There is also electrolyte disturbance, acidosis, and fluid overload due to the kidney's 
              inability to excrete water. The diuretic phase coincides with the healing of the renal tubules, characterized by a rapid 
              increase in daily volume of urine, increased glomerular filtration rate, electrolyte depletion, reduction in intra-renal tension,
              and resolution of intratubular casts. The recovery phase is characterized by the gradual return of kidney function, where 
              the patient may need to be on long-term therapy to maintain the new kidney function.</p>
          </p>
          <br><br>
          
          <div>
              <!-- Social media share section -->
              <h3 class="redtest"><i><b>Share the love! If you find our website helpful, please share it with others who might benefit from it :</b></i></h3>
              <ul class="social-media-buttons">
                  <!-- Social media share buttons -->
                  <li><a href="https://www.facebook.com/sharer/sharer.php?u=researchgrips.com" target="_blank">
                      <img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a></li>
                  <br><br>
          
                  <li><a href="https://twitter.com/intent/tweet?url=researchgrips.com" target="_blank">
                      <img class="hover" src="/images/twitter.jpg" alt="Twitter" height="30" width="30"></a></li>
                  <br><br>
                  <li><a href="https://www.linkedin.com/shareArticle?url=researchgrips.com" target="_blank">
                      <img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a></li>
                  <br><br>
                  <li><a href="whatsapp://send?text=researchgrips.com" target="_blank">
                      <img class="hover" src="/images/appp-removebg-preview.png" alt="WhatsApp" height="30" width="30"></a></li>
              </ul>
          </div>

     <!-- Footer -->   
  <!-- Include the footer partial -->
<%- include('./Partials/footer') %> 
</html>