<!DOCTYPE html>
<html lang="en">
   <!--File: SERVICEPAGE.ejs
// Student’s Name: ANIEBONAM VIVIAN OLUOMACHUKWU
// StudentID: 301308143
// Date: 01-10-2023-->
    <head>
        <title>Services</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/Stylesheets/contact.css" type="text/css">
            <link rel="stylesheet" href="/Stylesheets/services.css" type="text/css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <form class="example" action="/search.php">
 <!-- Start of CSS styles for the search form -->
 
</head>

<!-- For the body -->
<body id="body">
<header>
  <!-- Navigation links -->
  <h3 id="homepage">
      <a href="index">HOME</a> &nbsp;&nbsp;&nbsp;
      <a href="about">ABOUT</a>&nbsp;&nbsp;&nbsp;
      <a href="contact">CONTACT</a> &nbsp;&nbsp;&nbsp;
      <a href="service">SERVICES</a> &nbsp;&nbsp;&nbsp;
      <a href="newreview">TESTIMONIALS</a>
  </h3>
  <!-- Image in the header -->
  <img src="/images/service.jpg" alt="Agents Picture" width="1000" height="900">
</header>
<br>
<br>
      
 
    <p class="test">Welcome to my services page, where I offer a range of expertise to meet your needs. With a diverse skill set and experience, I am here to provide you with valuable solutions in various fields. Here's what I offer:</p>

    
            <h2>Data Analysis and Questionnaire Development</h2>
            <p class="test">I have developed powerful software that facilitates the retrieval of information into databases and enables in-depth data analysis. With this software, I can assist you in generating customized questionnaires, distributing them, and analyzing the responses efficiently. Whether you need insights for research, surveys, or data-driven decisions, I've got you covered.</p>
       

      
            <h2>Online Teaching Platform</h2>
            <p class="test">Unlock your learning potential with my online teaching platform. I specialize in providing comprehensive courses in various subjects, including SQL, advanced database management, web design, C#, Unix, HTML, and CSS. Whether you're a beginner or looking to enhance your skills, my courses are designed to cater to all levels of expertise. Additionally, as a current lecturer at St. Clair College, I bring real-world knowledge and teaching experience to the online classroom.</p>
       

        
            <h2>Writing Services</h2>
            <p class="test">As a multidisciplinary professional, I am also a seasoned writer. I have honed my skills in crafting engaging and informative articles, covering a wide range of topics, particularly in the fields of health and engineering. With a background as a registered nurse and expertise in health informatics, I can provide you with well-researched and insightful articles that meet your content needs.</p>
       

    <p class="test">Whether you require assistance with data analysis, online learning, or content creation, I am dedicated to delivering high-quality solutions tailored to your specific requirements. Feel free to explore more about each service or get in touch with me to discuss how I can assist you in achieving your goals.</p>
</body>
 
      <br>
      <br>
      <br>
    </div>

 <!-- For the table code -->
    <p>
      <table style="width:100%">
        <tr>
          <th><div class="box">
                 <p><b><b>ONGOING SURVEY</b></b></p><br><br><br>
                 <div>
                  <h4 class="boximg">
                    <br>
                    <a href="questionnaireintro">&nbsp;Learn More → </a>
                  </h4>
                </div>
                </div></th>

          <th><div class="box" >
                  <p id="p.class"><b>ONLINE &nbsp;CLASSES</b></p><br><br>
                  <div>
                    <h4 class="boximg">
                      <br>
                      <a href="programClasses">&nbsp;Learn More → </a>
                    </h4>
                    <br>
                    <br>
                    <h4 class="boximg">
                      <br>
                      <select onchange="location = this.value;">
                        <option selected disabled>Choose an option</option>
                        <option value="programClasses"><a href="programClasses">C#</a></option>
                        <option value="programClasses"><a href="programClasses">SQL (DBMS)</a></option>
                        <option value="programClasses"><a href="programclasses">Web Design</a></option>
                      </select>
                    </h4>
                  </div>
                 </div></th>

          <th><div class="box">
                  <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LITERAY PIECES</b></p><br><br><br>
                  <div>
                    
                    <h4 class="boximg">
                      <br>

                      <a href="renalfailure">&nbsp;Learn More → </a>
                    </h4>
                    <BR>
                      <BR>
                        <h4 class="boximg">
                          <br>
                          <select onchange="location = this.value;">
                            <option selected disabled>Choose an option</option>
                            <option value="ebooks"><a href="ebooks">eBooks</a></option>
                            <option value="articles"><a href="articles">Articles</a></option>
                            <option value="researchessays"><a href="researchessays">Research Essays</a></option>
                          </select>
                        </h4>
                  </div>
                 </div></th>
        </tr>
       </table>
      </p>
      <br><br>
  <!-- SHARE my page code -->  
<br>
<br>

  <div>
    <h3 class="redtest"><i><b>Share the love! If you find our website helpful, please share it with others who might benefit from it :</b></i></h3>
    <ul class="social-media-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=researchgrips.com" target="_blank">
        <img class="hover" src="/images/facebook-removebg-preview.png" alt="Facebook" height="30" width="30"></a></li>
        <br><br>
  
      <li><a href="https://twitter.com/intent/tweet?url=researchgrips.com" target="_blank">
        <img class="hover" src="/images/twitter.jpg" alt="Twitter" height="30" width="30"></a></li>
        <br><br>
      <li><a href="https://www.linkedin.com/shareArticle?url=researchgrips.com" target="_blank">
        <img class="hover" src="/images/in-removebg-preview.png" alt="LinkedIn" height="30" width="30"></a></li>
        <br><br>
        <li><a href="whatsapp://send?text=researchgrips.com" target="_blank"><img class="hover" src="/images/appp-removebg-preview.png" alt="WhatsApp" height="30" width="30"></a></li>
    </ul>
  </div>      
</body>

<!-- Footer -->   
<!-- Include the footer partial -->
<%- include('./Partials/footer') %>
</body>
</html>